<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="fairino_ros2_control"
    params="name fairino_file use_fake_hardware:=false"
  >
    <xacro:property name="ip_address" value="${load_yaml(fairino_file)['ip_address']}" />
    <xacro:property name="initial_positions" value="${load_yaml(fairino_file)['initial_positions']}" />
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>fairino_hardware/FairinoHardwareInterface</plugin>
          <param name="ip_address">${ip_address}</param>
        </xacro:unless>
      </hardware>
      <joint name="j1">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j1']}</param>
        </state_interface>
      </joint>
      <joint name="j2">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j2']}</param>
        </state_interface>
      </joint>
      <joint name="j3">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j3']}</param>
        </state_interface>
      </joint>
      <joint name="j4">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j4']}</param>
        </state_interface>
      </joint>
      <joint name="j5">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j5']}</param>
        </state_interface>
      </joint>
      <joint name="j6">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j6']}</param>
        </state_interface>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
