<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FR3WMS">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00049216 0.00040932 0.032944"
        rpy="0 0 0" />
      <mass
        value="1.9336" />
      <inertia
        ixx="0.002444"
        ixy="9.4101E-06"
        ixz="-8.0414E-06"
        iyy="0.0024444"
        iyz="-7.414E-06"
        izz="0.0030906" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_Link">
    <inertial>
      <origin
        xyz="-0.00006 -0.01358 0.00168"
        rpy="0 0 0" />
      <mass
        value="1.66" />
      <inertia
        ixx="0.00230485"
        ixy="0.00000626"
        ixz="-0.0000055"
        iyy="0.00168404"
        iyz="0.00003817"
        izz="0.00229517" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/shoulder_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/shoulder_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="upperarm_Link">
    <inertial>
      <origin
        xyz="0.14011 0.0 0.10171"
        rpy="0 0 0" />
      <mass
        value="3.68" />
      <inertia
        ixx="0.0052653"
        ixy="0.00001585"
        ixz="0.0000051"
        iyy="0.07015542"
        iyz="0.0"
        izz="0.06885537" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/upperarm_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/upperarm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0.00065268 0.00055951 0.14"
      rpy="1.5708 0 0" />
    <parent
      link="shoulder_Link" />
    <child
      link="upperarm_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="forearm_Link">
    <inertial>
      <origin
        xyz="0.06349 0.0001 0.01094"
        rpy="0 0 0" />
      <mass
        value="1.81" />
      <inertia
        ixx="0.00221986"
        ixy="0.00001642"
        ixz="-0.00000424"
        iyy="0.01731964"
        iyz="-0.00000144"
        izz="0.01698749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/forearm_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.76863 0.74902 0.72941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/forearm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="-0.28 0 0"
      rpy="0 0 0" />
    <parent
      link="upperarm_Link" />
    <child
      link="forearm_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7925"
      upper="2.7925"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="wrist1_Link">
    <inertial>
      <origin
        xyz="0.00007 -0.00218 0.01248"
        rpy="0 0 0" />
      <mass
        value="1.18" />
      <inertia
        ixx="0.00130393"
        ixy="-0.00000591"
        ixz="-0.00000374"
        iyy="0.0012786"
        iyz="0.00002265"
        izz="0.00096854" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/wrist1_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/wrist1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="-0.24 0 0"
      rpy="0 0 0" />
    <parent
      link="forearm_Link" />
    <child
      link="wrist1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="wrist2_Link">
    <inertial>
      <origin
        xyz="-0.00007 0.00218 0.01248"
        rpy="0 0 0" />
      <mass
        value="1.18" />
      <inertia
        ixx="0.00130393"
        ixy="-0.00000591"
        ixz="0.00000374"
        iyy="0.0012786"
        iyz="-0.00002265"
        izz="0.00096854" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/wrist2_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/wrist2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0.102"
      rpy="1.5708 0 0" />
    <parent
      link="wrist1_Link" />
    <child
      link="wrist2_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="wrist3_Link">
    <inertial>
      <origin
        xyz="0.00181 0.00133 -0.02041"
        rpy="0 0 0" />
      <mass
        value="0.28" />
      <inertia
        ixx="0.00018275"
        ixy="-0.00000006"
        ixz="0.00000073"
        iyy="0.00018174"
        iyz="0.00000124"
        izz="0.00028661" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/wrist3_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/wrist3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0 0 0.102"
      rpy="-1.5708 0 0" />
    <parent
      link="wrist2_Link" />
    <child
      link="wrist3_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <!-- <link
    name="tool_Link">
    <inertial>
      <origin
        xyz="0.27731 0.080736 -0.13859"
        rpy="0 0 0" />
      <mass
        value="19.597" />
      <inertia
        ixx="0.11735"
        ixy="-0.0048198"
        ixz="0.027927"
        iyy="0.9281"
        iyz="-0.001135"
        izz="0.89898" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/visual/tool_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/FR3WMS/collision/tool_Link.STL" />
      </geometry>
    </collision>
  </link> -->
  <joint
    name="tool"
    type="fixed">
    <origin
      xyz="0 -0.00038104 0.1"
      rpy="0 0 0" />
    <parent
      link="wrist3_Link" />
    <child
      link="tool_Link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
</robot>